<div class="row row-cols-md-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4 g-2 mb-4">
    {% for product in products %}
        {% if product.pictures %}
            {% set picture = product.pictures[0] %}
        {% endif %}
        <div class="col">
            <div class="card h-100 {{ 'hover-shadow' if product.in_stock() }}" style="{{ 'color: gray;' if not product.in_stock() }}">
                <img src="{{ url_for('static', filename=config['PRODUCT_UPLOAD_FOLDER'] + picture if picture else config['IMAGE_FOLDER'] + 'placeholder.png') }}"
                     class="card-img-top" {{ 'style="filter: grayscale(100%)"'|safe if not product.in_stock() }}
                     alt="...">
                <div class="card-body">
                    <a class="card-title link d-inline-block" href="{{ url_for('products.product', product_id=product.id) }}"><h5 class="card-title">{{ product.title }}</h5></a>
                    <p class="card-text">{{ product.desc|truncate(125) }}</p>
                </div>
                <div class="card-footer">
                    <div class="card-body">
                        <p class="card-text {{ 'text-end' if not product.discount }}">
                            {% if product.discount %}
                                <small>
                                    <span class="small text-muted">
                                        {{ ("₴%.2f")|format(product.price) }}
                                        <span class="small text-danger">
                                            -{{ ("₴%.2f")|format(product.discount) }}
                                        </span>
                                    </span>
                                </small>
                            {% endif %}
                            <span class="text-success {{ 'float-end' if product.discount }}"> {{ ("₴%.2f")|format(product.price - product.discount) }} </span>
                        </p>
                    </div>
                    <a class="btn btn-success w-100 {{ 'disabled' if not product.in_stock() }}" onmousedown="addToCart({{ product.id }})">Додати у корзину</a>
                    {% if current_user.has_role('editor') %}
                        <a class="btn btn-info w-100" href="{{ url_for('admin.product', product_id=product.id) }}">✏</a>
                        <a class="btn btn-danger w-100" href="{{ url_for('admin.product', product_id=product.id, delete=1) }}">🗑</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
