{% extends "layout.html" %}
{{ super() }}
{% block title %}Товари{% endblock %}
{% block content %}
    <div class="row row-cols-md-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4 g-4 mb-4">
        {% for product in products %}
            {% set picture = product.pictures[0] %}
            <div class="col">
                <div class="card h-100 hover-shadow" style="cursor: pointer" onclick="location.href='{{ url_for('product', id=product.id) }}'">
                    <img src="{# плейсхолдер, якщо картинки немає #}
                        {{ url_for('static', filename=config['PRODUCT_UPLOAD_FOLDER'] + '/' + picture) }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.desc }}</p>
                    </div>
                    <div class="card-footer">
                        <a {# TODO: повинно працювати через АЖАКС, без перезавантаження сторінки #} class="btn btn-success w-100">Додати у корзину</a>
                        {% if user.is_authenticated and user.has_role('editor') %}
                            <a {# TODO: повинно працювати через АЖАКС, без перезавантаження сторінки #} class="btn btn-warning w-100 mt-1">Редагувати</a>
                            <a {# TODO: повинно працювати через АЖАКС, без перезавантаження сторінки #} class="btn btn-danger w-100 mt-1">Видалити</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <ul class="pagination justify-content-center">
        <li class="page-item {{ 'disabled' if page == 1  }}"><a class="page-link" href="{{ url_for('products', page=page-1) }}">Назад</a></li>
        {% if page > 1 %}
            <li class="page-item"><a class="page-link" href="{{ url_for('products', page=1) }}">1</a></li>
        {% endif %}
        {% if page > 4 %}
            <li class="page-item disabled"><a class="page-link">...</a></li>
        {% endif %}
        {% for p in range(page - 3, page) if p > 1 %}
            <li class="page-item"><a class="page-link" href="{{ url_for('products', page=p) }}">{{ p }}</a></li>
        {% endfor %}
        <li class="page-item active"><a class="page-link" href="{{ url_for('products', page=page) }}">{{ page }}</a></li>
        {% for p in range(page + 1, page + 4) if p < number_of_pages %}
            <li class="page-item"><a class="page-link" href="{{ url_for('products', page=p) }}">{{ p }}</a></li>
        {% endfor %}
        {% if page < number_of_pages - 4 %}
            <li class="page-item disabled"><a class="page-link">...</a></li>
        {% endif %}
        {% if page < number_of_pages %}
            <li class="page-item"><a class="page-link" href="{{ url_for('products', page=number_of_pages) }}">{{ number_of_pages }}</a></li>
        {% endif %}
        <li class="page-item {{ 'disabled' if page == number_of_pages }}"><a class="page-link" href="{{ url_for('products', page=page+1) }}">Вперед</a></li>
    </ul>
{% endblock %}
