{% extends "layout.html" %}
{{ super() }}
{% block title %}{{ product.title }}{% endblock %}
{% block content %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-sm-12 col-xl-5">
                <div id="carouselPhoto" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ url_for('static', filename=config['PRODUCT_UPLOAD_FOLDER'] + '/' + product.pictures|first if product.pictures else config['IMAGE_FOLDER'] + 'placeholder.png') }}" class="d-block w-100" alt="..."/>
                        </div>
                        {% for picture in product.pictures[1:] %}
                            <div class="carousel-item">
                                <img src="{{ url_for('static', filename=config['PRODUCT_UPLOAD_FOLDER'] + '/' + picture) }}" class="d-block w-100  thumb-post" alt="..."/>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhoto" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Далі</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPhoto" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Назад</span>
                    </button>
                    <ol class="carousel-indicators list-inline">
                        <li class="list-inline-item active">
                            <a class="active"  data-bs-slide-to="0" aria-current="true" data-bs-target="#carouselPhoto">
                                <img src="{{ url_for('static', filename=config['PRODUCT_UPLOAD_FOLDER'] + '/' + product.pictures|first if product.pictures else config['IMAGE_FOLDER'] + 'placeholder.png') }}" class="img-fluid my-img-thumbnail" alt="...">
                            </a>
                        </li>
                        {% for picture in product.pictures[1:] %}
                            <li class="list-inline-item">
                                <a data-bs-slide-to="{{ loop.index }}" data-bs-target="#carouselPhoto">
                                    <img src="{{ url_for('static', filename=config['PRODUCT_UPLOAD_FOLDER'] + '/' + picture) }}" class="img-fluid my-img-thumbnail" alt="...">
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <div class="col-sm-12 col-xl-7">
                <div class="card-body">
                    <p class="card-text g-5">

                    </p>
                    <h5 class="card-title d-inline-block">
                        {{ product.title }}
                    </h5>
                    <span class="text-muted small float-end">#{{ product.id }}</span>
                    <p class="card-text d-inline-block">
                        {% for p in product.desc.split('\n') %}
                            <p>{{ p }}</p>
                        {% endfor %}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">В наявності: {{ product.stock }}</small>
                        <a class="float-end btn btn-danger" href="{{ url_for('admin.product', product_id=product.id, delete=1) }}">🗑</a>
                        <a class="float-end btn btn-info" href="{{ url_for('admin.product', product_id=product.id) }}">✏</a>
                    </p>
                    <p class="card-text border-top p-2">
                        {% if product.discount != 0 %}
                            <s class="small">
                                {{ product.price }}
                            </s>
                            <span class="btn btn-danger text btn-sm">
                                <span class="small">{{ "%.2f" | format(-(product.discount*100/product.price)) }}%</span>
                            </span>
                            {{ ("₴%.2f")|format(product.price - product.discount) }}
                        {% else %}
                            ₴{{ product.price }}
                        {% endif %}
                        <button class="btn btn-success float-end">Купити</button>
                    </p>
                </div>
            </div>
            <div class="col-12 border-top">
                <h5 class="card-title text-center mt-3">Характеристики</h5>
                <table class="table table-striped mb-0">
                    <tbody>
                    {% for spec in product.specs %}
                        <tr>
                            <td>{{ spec }}</td>
                            <td>{{ product.specs[spec] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
