{% extends "admin/admin_layout.html" %}
{{ super() }}
{% block title %}Повідомлення{% endblock %}
{% block content %}
    <div class="mx-auto col-xxl-6 col-xl-7 col-lg-8 col-md-10 col-sm-12">
        <a class="btn btn-danger w-100" href="{{ url_for('admin.appeals') }}">Відміна</a>
        <h6 class="display-6 d-inline-block">Повідомлення</h6><span class="text-muted small float-end">#{{ appeal.id }}</span>
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <h5>{{ appeal.title }}</h5>
            <p>{{ appeal.content }}</p>
            {% if appeal.firstname %}
                Ім'я
                <p>{{ appeal.firstname }}</p>
            {% endif %}
            {% if appeal.phone %}
                Телефон
                <p>{{ appeal.phone }}</p>
            {% endif %}
            {% if appeal.email %}
                Пошта
                <p>{{ appeal.email }}</p>
            {% endif %}
            {{ form.support_comment.label }} {{ form.support_comment(class_="form-control mb-3") }}
            {{ form.closed(class_="mb-3") }} {{ form.closed.label }}
            {{ form.submit(class_="w-100 px-auto btn btn-primary") }}
        </form>
    </div>
{% endblock %}
