{% extends "admin/admin_layout.html" %}
{{ super() }}
{% block script %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='script/ajax.js') }}" defer></script>
{% endblock %}
{% block title %}Замовлення{% endblock %}
{% block content %}
    <table class="table table-sm table-responsive table-bordered table-striped table-light table-hover mb-3">
        <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Клієнт</th>
            <th>Коментар</th>
            <th>Телефон</th>
            <th>Ім'я</th>
            <th>Місто</th>
            <th>Адреса</th>
            <th>Замовлення</th>
            <th>Сума</th>
            <th>Статус</th>
            <th>Створено</th>
        </tr>
        <tr>
            <form id="search_form">
                <th></th>
                <th><input name="id" type="text"></th>
                <th><input name="customer" type="text"></th>
                <th><input name="comment" type="text"></th>
                <th><input name="phone" type="text"></th>
                <th><input name="firstname" type="text"></th>
                <th><input name="settlement" type="text"></th>
                <th><input name="address" type="text"></th>
                <th><input name="products" type="text"></th>
                <th><input name="final_price" type="text"></th>
                <th><input name="status" type="text"></th>
                <th><input name="created" type="text"></th>
                <th>
                    <select name="items_per_page" id="items_per_page_selector" class="form-control" title="Кількість записів на сторінці">
                        <option value="20" selected>20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                    </select>
                </th>
                <input type="submit" hidden>
            </form>
        </tr>
        </thead>
        <tbody id="ajax-content">
        </tbody>
    </table>
    <div id="ajax-pagination"></div>
    <div id="ajax-spinner" hidden>
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary">
            </div>
        </div>
    </div>
{% endblock %}
