{% extends "admin/admin_layout.html" %}
{{ super() }}
{% block script %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='script/ajax.js') }}" defer></script>
{% endblock %}
{% block title %}Товари{% endblock %}
{% block content %}
    <table class="table table-sm table-responsive table-bordered table-striped table-light table-hover mb-3">
        <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Фото</th>
            <th>Назва</th>
            <th>Опис</th>
            <th>Ціна</th>
            <th>Знижка</th>
            <th>В наявності</th>
            <th>Характеристики</th>
            <th>Востаннє оновлено</th>
            <th><a class="btn btn-success" href="{{ url_for('.product') }}">➕</a></th>
        </tr>
        <tr>
            <form id="search_form">
                <th></th>
                <th><input name="id" type="text"></th>
                <th></th>
                <th><input name="title" type="text"></th>
                <th><input name="desc" type="text"></th>
                <th><input name="price" type="text"></th>
                <th><input name="discount" type="text"></th>
                <th><input name="stock" type="text"></th>
                <th><input name="specs" type="text"></th>
                <th><input name="updated" type="text"></th>
                <th>
                    <select name="items_per_page" id="items_per_page_selector" class="form-control" title="Кількість записів на сторінці">
                        <option value="20" selected>20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                    </select>
                </th>
                <input type="submit" hidden>
            </form>
        </tr>
        </thead>
        <tbody id="ajax-content">
        </tbody>
    </table>
    <div id="ajax-pagination"></div>
    <div id="ajax-spinner" hidden>
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary">
            </div>
        </div>
    </div>
{% endblock %}
