{% extends "admin/admin_layout.html" %}
{{ super() }}
{% block title %}Редагування{% endblock %}
{% block content %}
    <div class="mx-auto col-xxl-6 col-xl-7 col-lg-8 col-md-10 col-sm-12">
        <a class="btn btn-danger w-100" href="{{ url_for('admin.users') }}">Відміна</a>
        <h1 class="display-6 d-inline-block">Профіль</h1><span class="text-muted small float-end">#{{ user.id }}</span>
        <form method="post">
            {{ form.hidden_tag() }}
            {{ form.username.label }} {{ form.username(class_="form-control mb-3") }}
            {{ form.email.label }} {{ form.email(class_="form-control mb-3") }}
            <span>Ролі</span>
            <div class="input-group">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="editor">
                    Editor
                </label>
            </div>
            <div class="input-group">
                <label>
                    <input class="form-check-input" type="checkbox" value="seller">
                    Seller
                </label>
            </div>
            <div class="input-group">
                <label>
                    <input class="form-check-input" type="checkbox" value="support">
                    Support
                </label>
            </div>
            <script>
                let checks = document.querySelectorAll('input[type="checkbox"]'),
                    roles = JSON.parse(document.querySelector('input[name="roles"]').value);

                for(let check of checks) {
                    if (roles.includes(check.value)) {
                        check.checked = true;
                    }
                }

                document.querySelector('form').addEventListener('submit', (e) => {
                    for(let check of checks) {
                        if (!check.checked) {
                            roles = roles.filter((v) => {
                                return v !== check.value;
                            })
                        }
                        else if (!roles.includes(check.value)) {
                            roles.push(check.value)
                        }
                    }
                    document.querySelector('input[name="roles"]').value = JSON.stringify(roles);
                    console.log(roles)
                })

            </script>
            <div class="mb-3">
                <button class="btn btn-primary w-100 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Змінити пароль
                </button>
                <div class="collapse" id="collapseExample">
                    {{ form.new_password.label }} {{ form.new_password(class_="form-control mb-2") }}
                    {{ form.confirm_password.label }} {{ form.confirm_password(class_="form-control") }}
                </div>
            </div>
            {{ form.phone.label }} {{ form.phone(class_="form-control mb-3", placeholder='+380XXXXXXXXX', pattern='^\+?3?8?(0\d{9})$') }}
            {{ form.firstname.label }} {{ form.firstname(class_="form-control mb-3") }}
            {{ form.settlement.label }} {{ form.settlement(class_="form-control mb-3") }}
            {{ form.address.label }} {{ form.address(class_="form-control mb-2") }}
            {{ form.submit(class_="w-100 px-auto btn btn-primary") }}
        </form>
    </div>
{% endblock %}
