{% extends "admin/admin_layout.html" %}
{{ super() }}
{% block title %}Редагування{% endblock %}
{% block content %}
    <div class="mx-auto col-xxl-4 col-xl-5 col-lg-6 col-md-10 col-sm-12">
        <a class="btn btn-danger w-100" href="{{ url_for('admin.users') }}">Відміна</a>
        <h1 class="display-6 d-inline-block">Профіль</h1><span class="text-muted small float-end">#{{ user.id }}</span>
        <form method="post">
            {{ form.hidden_tag() }}
            {{ form.username.label }} {{ form.username(class_="form-control mb-3") }}
            {{ form.email.label }} {{ form.email(class_="form-control mb-3") }}
            <div class="mb-3">
                <button class="btn btn-primary w-100 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Змінити пароль
                </button>
                <div class="collapse" id="collapseExample">
                    {{ form.new_password.label }} {{ form.new_password(class_="form-control mb-2") }}
                    {{ form.confirm_password.label }} {{ form.confirm_password(class_="form-control") }}
                </div>
            </div>
            {{ form.phone.label }} {{ form.phone(class_="form-control mb-3") }}
            {{ form.firstname.label }} {{ form.firstname(class_="form-control mb-3") }}
            {{ form.settlement.label }} {{ form.settlement(class_="form-control mb-3") }}
            {{ form.address.label }} {{ form.address(class_="form-control mb-2") }}
            {{ form.submit(class_="w-100 px-auto btn btn-primary") }}
        </form>
    </div>
{% endblock %}
