{% extends "shared/layout.html" %}
{{ super() }}
{% block title %}Замовлення #{{ order.id }}{% endblock %}
{% block content %}
    <div class="mx-auto col-xxl-7 col-xl-8 col-lg-9 col-md-11 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <h5 class="d-inline-block">Ваше замовлення</h5><span class="text-muted small float-end">#{{ order.id }}</span>
                    <div>Сума: <span class="text-success">₴{{ order.final_price }}</span></div>
                    <div>Статус: <span style="color: {{ order.get_status_color() }};">{{ order.get_status_string() }}</span></div>
                    <small>Унікальне посилання: <a class="link" href="{{ url_for('.order', order_token=order_token, _external=True) }}">{{ url_for('.order', order_token=order_token, _external=True) }}</a></small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
