<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block meta %}
            {% include 'shared/meta.html' %}
        {% endblock %}
        {% block style %}
            {% include 'shared/style.html' %}
        {% endblock %}
        {% block script %}
            {% include 'shared/script.html' %}
        {% endblock %}
        <title>{% block title %}{% endblock %} - KIShop</title>
    {% endblock %}
</head>
<body>
<div class="min-vh-100">
    {% block navbar %}
        <header class="mb-3">
            <nav class="navbar navbar-expand-xxl navbar-light bg-light border-bottom box-shadow">
                <div class="container-lg">
                    <a class="navbar-brand" href="{{ url_for('products.index') }}"><img src="{{ url_for('static', filename=config['IMAGE_FOLDER'] + 'favicon.ico') }}" style="width: 35px; height: 35px;" alt="..."></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="{{ url_for('products.index') }}">Товари</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="{{ url_for('posts.index') }}">Новини</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="{{ url_for('contact.index') }}">Зв'язатися</a>
                            </li>
                            {# All items below #} <li class="nav-item ms-auto"></li> {# will be right-sided #}
                            <li class="nav-item me-1">
                                <a class="nav-link d-inline-block text-dark m-0" href="{{ url_for('basket.index') }}">Корзина <span class="me-0" id="basketNumber"></span></a>
                            </li>
                            {% if current_user.is_authenticated %}
                                {% if current_user.has_any_role('admin', 'editor', 'support', 'seller') %}
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="{{ url_for('admin.index') }}">Адміністрування</a>
                                    </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="{{ url_for('auth.profile') }}">Профіль</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="{{ url_for('auth.logout') }}">Вийти</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="{{ url_for('auth.login') }}">Вхід</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="{{ url_for('auth.register') }}">Реєстрація</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}
    <div class="container-lg">
        {% for classes, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ classes }} message">{{ message | safe }}</div>
        {% endfor %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>
</div>
<footer class="text-center p-0 bg-light text-muted border-top mt-3">
    <div class="text-center bg-light m-0 p-2">
        <div>Stack: Flask/PostgreSQL/Bootstrap 5</div>
        ©
        <a href="https://t.me/denyskalinovskyi" class="text-reset">Denys Kalinovskyi</a>
    </div>
</footer>
</body>
</html>